html, body {
  font-family: Helvetica, Arial, sans-serif;
  background: #222;
  color: #CCC;
}
strong {
  font-size: 150%;
  color: #fff;
}
.time { 
/*    position: relative;
    top: -20px;*/
    font-size: 14px;
    display: block;
    position: relative;
    top: 5px;
    right: 20px;
}

li.location
{
	font-size: 25px;
	font-weight: bold;
	display: block;
    position: relative;
    top: 17px;
    right: 38px;
    padding: 0 !important;
    margin: 0 !important;
    display: none;
    color: #fff;
}


#usernames {
  list-style-type: none; 
}

#usernames li {
  
}

.container {
  width: 500px;
  background: #333;
  padding: 20px;
  margin: 40px auto;
  border: 20px solid #9900FF;
}

.username {
  display: none;
  font-size: 40px;
  color: #FF0099;
  text-decoration: none;
}

h1, h3, h5 {
  color: #0099ff;
}

h2, h4, h6 {
  color: #ff9900;
}

