html, body {
  font-family: Helvetica, Arial, sans-serif;
  background: #222;
  color: #CCC;
}
strong {
  font-size: 150%;
  color: #fff;
}
.time { 
/*    position: relative;
    top: -20px;*/
    font-size: 14px;
}

.singleton {
padding-left: 5px;
padding-right: 5px;
}

li.location
{
	font-size: 25px;
	font-weight: bold;
	display: block;
    position: relative;
    top: 17px;
    right: 38px;
    padding: 0 !important;
    margin: 0 !important;
    color: #fff;
}

.hidden { display: none; }


#locations, .users {
  list-style-type: none; 
}

#locations li {

display:block;
  
}

.container {
  width: 700px;
  background: #333;
  padding: 20px;
  border: 20px solid #9900FF;
  margin: 40px auto;
}

.username {
  font-size: 40px;
  color: #FF0099;
  text-decoration: none;
}

.msg
{
	font-size: 12pt;
	color: #ccc;
	margin-left: 25px;
	border-left: #888 3px solid;
	padding-left: 10px;
}

h1, h3, h5 {
  color: #0099ff;
}

h2, h4, h6 {
  color: #ff9900;
}

